{
  "openapi": "3.0.1",
  "info": {
    "title": "Data",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/data/v1/custom-objects/{objectName}": {
      "post": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Insert a new custom object record",
        "description": "Validates the record details and inserts if it does not exist in the given custom object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object in which the record is to be inserted. It can only contain alphanumeric characters and underscores, and must contain \"_c\" in the suffix. <p>**For example**: `CustomObject_c`.</p>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. For example: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID, and externalId must be schema fields). The schema and metadata can be generated using the Schema Manager APIs.</p>\r\n             Refer to the following table to understand the behavior when you pass ID and/or External ID.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Create a record using the ID field value as provided in the payload. | ExternalId unique validation |\r\n             | Yes            | No                     | Create a record using the ID field value as provided in the payload and set the ExternalId to null. | NA |\r\n             | No             | Yes                    | Generate a new GUID and create a record using the ID field value with the new GUID value. | ExternalId unique validation |\r\n             | No             | No                     | Generate a new GUID and create a record using the ID field value with the new GUID value and set the ExternalId to null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": true,
                  "Data": "7e5e717d-a8df-4326-8916-369b102e7d1b",
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "User doesn't have permission on 'account_p' object."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Get all custom object records",
        "description": "Returns a list of all records for the given custom object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object from which the records need to be fetched. It can only contain alphanumeric characters and underscores, and must have \"_c\" in the suffix. <p>**For example**: `CustomObject_c`.</p>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the object. **For example**: `IsActive = 'true'`.<p>**Note**: The criteria field (in this case, IsActive) must be indexed.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records in each page. **For example**: `5` produces five records for each page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of pages to be fetched. **For example**: `2` fetches the second page with the number of records in the pageSize parameter.<p>**Note**: The page index starts at 1.</p>",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: `FirstName`.<p>**Note**: The sort field (in this case, FirstName) must be indexed or sortable.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction for the data.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "e08694e8-c984-46ce-a005-6e9c45ff1b60"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/custom-objects/{objectName}/{id}": {
      "get": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Get a custom object record using record ID",
        "description": "Checks the record ID in the given custom object and fetches the record if it exists.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object. It can only contain alphanumeric characters and underscores and must have \"_c\" in the suffix. <p>**For example**: `CustomObject_c`.</p>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. <p>**For example**: `2614d72c-edfc-4dc5-b72f-45104fe5ef43`.</p>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Update a custom object record",
        "description": "Updates the record based on the custom object, record ID, and the details of the record to update.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object. It can only contain alphanumeric characters and underscores, and must have \"_c\" in the suffix. <p>**For example**: `CustomObject_c`.</p>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. For example, `2614d72c-edfc-4dc5-b72f-45104fe5ef43`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: `Name = \"Mark\"`, `Description = \"Description\"`.\r\n            <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name and Description must be schema fields). The schema and metadata can be generated using the Schema Manager APIs.</p>",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "object",
                      "additionalProperties": {},
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Delete a custom object record",
        "description": "Validates the record based on the record ID and removes it from the given custom object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object. It can only contain alphanumeric characters and underscores, and must have \"_c\" in the suffix. <p>**For example**: `CustomObject_c`.</p>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. **For example**: `2614d72c-edfc-4dc5-b72f-45104fe5ef43`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/custom-objects/{objectName}/by-externalId/{externalId}": {
      "get": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Get a custom object record using externalId",
        "description": "Checks the externalId in the given custom object and fetches the record if it exists.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object. It can only contain underscores and alphanumeric characters. **For example**: PaymentTool, PaymentToolHistory.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Update a record by externalId",
        "description": "Updates the record based on the object, externalId, and the details of the record that you want to update.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object. It can only contain underscores and alphanumeric characters. **For example**: PaymentTool, PaymentToolHistory.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 2618d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: Name = \"Mark\", Description = \"Description\".\r\n             /// <p>**Note**: The fields/properties should be part of the schema/metadata created for the object(in this case, Name and Description should be a field in schema). The schema/metadata can be generated using schema manager API.</p>\r\n             Refer to the following table to understand the behavior when you pass ID in the payload.\r\n            \r\n             | ID in payload? | Behavior | Validation |\r\n             |----------------|----------|------------|\r\n             | Yes            | Update a record by `externalId`. | The record's ID must match the ID provided in the payload. If not, give an error. Do not allow the ID to be updated in any case. |\r\n             | No             | Update a record by `externalId`. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "object",
                      "additionalProperties": {},
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Delete a custom object record by externalId",
        "description": "Validates the record based on the external ID and removes it from the given custom object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object. It can only contain underscores and alphanumeric characters. **For example**: PaymentTool, PaymentToolHistory.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 27a6a4a6-41c0-4e2a-b56d-355bb4ab2e09.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean"
                    },
                    "RecordCount": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true
                    },
                    "Data": {
                      "type": "string",
                      "nullable": true
                    },
                    "Errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "Profile": {
                      "type": "string",
                      "nullable": true
                    },
                    "TotalTime": {
                      "type": "number",
                      "format": "float"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "Processing",
                        "EarlyHints",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultiStatus",
                        "AlreadyReported",
                        "IMUsed",
                        "MultipleChoices",
                        "MovedPermanently",
                        "Found",
                        "SeeOther",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "PermanentRedirect",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "MisdirectedRequest",
                        "UnprocessableEntity",
                        "Locked",
                        "FailedDependency",
                        "UpgradeRequired",
                        "PreconditionRequired",
                        "TooManyRequests",
                        "RequestHeaderFieldsTooLarge",
                        "UnavailableForLegalReasons",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported",
                        "VariantAlsoNegotiates",
                        "InsufficientStorage",
                        "LoopDetected",
                        "NotExtended",
                        "NetworkAuthenticationRequired"
                      ],
                      "type": "string"
                    },
                    "HasMoreRecords": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "NextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Message": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/custom-objects/{objectName}/bulk": {
      "post": {
        "tags": [
          "Custom Object"
        ],
        "summary": "Insert custom object records",
        "description": "Validates custom object record details and creates multiple records in the given custom object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the custom object. It can only contain alphanumeric characters and underscores, and must have \"_c\" in the suffix. <p>**For example**: `CustomObject_c`.</p>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID, and externalId must be fields in the schema). The schema and metadata can be generated using the Schema Manager API.</p>\r\n             Refer to the following table to understand the behavior when you pass ID and/or External ID.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Create records using the ID field value as provided in the payload. | ExternalId unique validation |\r\n             | Yes            | No                     | Create records using the ID field value as provided in the payload and set the ExternalId to null. | NA |\r\n             | No             | Yes                    | Generate new GUIDs and create records using the ID field value with the new GUID value. | ExternalId unique validation |\r\n             | No             | No                     | Generate new GUIDs and create records using the ID field value with the new GUID value and set the ExternalId to null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
[...]
